/* Regular */
@font-face {
    font-family: 'sfpro';
    src: url('../fonts/sfpro_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'sfpro';
    src: url('../fonts/sfpro_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'sfpro';
    src: url('../fonts/sfpro_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: "sfpro";
    background-color: #f8f9fa;
}
.form h1 {
    font-family: 'sfpro';
    font-weight: bold;
}

.form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form label {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.form input[type="password"], .form input[type="text"], .form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: linear-gradient(to right,#3CB5BA, #4368AE);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.agree {
    margin-left: 10px !important;
}